@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@font-face {
  font-family: "8bitOperator";
  src: local("8bitOperator"),
    url("../fonts/8bitOperatorPlus8-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

:root {
  --light-blue: #d6e6f9;
  --rose-gold: #bd8c7d;
  --soft-gold: #d1bfa7;
  --gold: #d4af37;
  --silver: #8e8e90;
  --onyx: #49494b;
  --black: #000000;
  --white: #fff;
  --off-white: #fbfbfb;
}

/*********
  GLOBAL
**********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* transparent scrollbar */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

html {
  font-size: calc(0.53rem + 0.53vw);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

body {
  font-family: "8bitOperator", sans-serif;
  color: var(--onyx);
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #fafafa;
  background-attachment: fixed;
  z-index: 1;
}

a:hover,
button:hover,
button,
.navbar-toggler-icon:hover,
[type="button"]:not(:disabled):hover {
  cursor: url("../img/cursor32.svg"), auto;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: auto;
  padding: 2rem 0;
  width: 60%;
  height: 100%;
  min-height: calc(100vh - 6.5rem);
}

img {
  width: 100%;
  height: auto;
}

.title {
  font-weight: bold;
  color: var(--onyx);
  text-transform: uppercase;
}

.caption {
  font-family: "8bitOperator", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
}

.boxshadow {
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
}

.outline {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.9rem;
}

/************
  PRELOADER
*************/
#preloader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#preloader h1 {
  position: absolute;
  font-size: 4rem;
  color: var(--onyx);
  transform: translateY(-70%);
}

/************
  LAYOUT
*************/
#layout {
  width: 100%;
  height: 100%;
}

#home {
  background: #fff url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#about,
#portfolio,
#project-view,
#contact {
  background: #fff url("../img/bg-img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*********
  NAVBAR
**********/
.navbar {
  box-shadow: 0 7px 3px -3px rgba(50, 50, 50, 0.1);
  background-color: #fff;
  z-index: 2000;
}

.navbar-brand img {
  width: 64px;
  height: 53px;
}

.navbar-brand span {
  letter-spacing: 0.1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--onyx);
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.4s ease;
  z-index: 1000;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--silver);
  /* text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); */
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--rose-gold);
}

/*********
  HOME
**********/
#home h2 {
  font-size: 3.5rem;
}

#home h1 {
  font-family: "Benne", serif;
  font-size: 3rem;
  color: var(--onyx);
}

#home h1 span {
  font-family: "8bitOperator", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  /* background-color: #fff; */
}

#home p {
  font-family: "Benne", serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1rem;
}

#home a {
  margin: 0 auto;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background-color: #d1bfa780;
  text-transform: uppercase;
  color: var(--onyx);
  border: 1px solid var(--onyx);
  border-radius: 0.2rem;
  text-decoration: none;
  transition: all 1s ease;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  transition: all 1s ease;
  position: relative;
}

#home a::before,
#home a::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

#home a::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

#home a::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

#home a:hover::before,
#home a:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

#home a:hover {
  background-color: var(--white);
}

/********
  ABOUT
*********/
.about-text {
  width: 100%;
  max-height: 40rem;
  max-width: 40rem;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.about-text > p {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  margin: auto;
}

.about-img img {
  width: 100%;
  max-width: 25rem;
  height: auto;
  filter: grayscale(30%);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  background-color: #fff;
  padding: 0.4rem;
  border-radius: 5px;
  /* border-radius: 50%; */
}

#about a {
  display: inliine-block;
  text-decoration: none;
  color: var(--onyx);
  font-size: 1.2rem;
  padding: 1.1rem 3rem;
  background-color: #bd8c7d80;
  border-radius: 0.2rem;
  border: 1px solid var(--onyx);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  transition: all 1s ease;
  position: relative;
}

#about a::before,
#about a::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

#about a::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

#about a::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

#about a:hover::before,
#about a:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

#about a:hover {
  background-color: var(--white);
}

/**************
  PROJECT CARD
***************/
.card {
  min-width: 14rem;
  margin: 0.9rem 0.1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-1px);
}

.card img.featured {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 0.1rem;
  width: 36px;
  height: 31px;
}

.card-img-top {
  padding: 0.4rem;
}

.card-body {
  height: 4rem;
  padding: 1rem;
  margin: auto;
  letter-spacing: 0.1rem;
}

.card-body h5 {
  font-size: 1.2rem;
}

.card-body h6 {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.card-title {
  text-shadow: 0.1px 0.1px 0.1px var(--onyx);
}

.card-list {
  list-style: none;
  max-width: 100%;
}

/****************
  PROJECT FILTER
*****************/
#project-card-filters {
  min-width: 10rem;
}

.filter-buttons {
  color: var(--onyx);
  background-color: transparent;
  border: 0;
  outline: none;
  letter-spacing: 0.1rem;
  transition: all 0.4s ease;
}

.filter-buttons:hover {
  color: var(--silver);
  outline: none;
}

.filter-buttons:active,
.filter-buttons:focus {
  color: var(--rose-gold);
  outline: none;
}

.back-link {
  color: var(--onyx);
  letter-spacing: 0.2rem;
  width: 5.5rem;
  transition: all 0.4s ease;
}

.back-link:hover {
  color: var(--silver);
  text-decoration: none;
}

/**************
  PROJECT VIEW
***************/
.project-view p {
  font-size: 1.1rem;
}

.project-view-description,
.project-view-contents p {
  font-family: "Raleway", sans-serif;
}

.project-view-buttons {
  letter-spacing: 0.2rem;
}

.project-view-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .project-view-buttons a {
  color: var(--onyx);
  text-decoration: none;
  transition: all 0.4s ease;
} */

.project-view-buttons a:hover {
  /* color: var(--silver); */
  text-decoration: none;
}

.stack-list {
  list-style-type: square;
}

/*********
  CONTACT
**********/
.contact h1 {
  color: var(--onyx);
}

.contact-form {
  max-width: 34rem;
  height: auto;
}

.contact-form > div {
  font-family: "Raleway", sans-serif;
}

input.form-control:focus,
textarea.form-control:focus {
  border: 1px solid var(--silver);
  box-shadow: 0px 0px 5px var(--silver);
}

.contact-form button {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0.6rem 5rem;
  border-radius: 0.2rem;
  border: 1px solid var(--onyx);
  outline: none;
  color: var(--onyx);
  font-size: 1.2rem;
  background-color: #8e8e9080;
  transition: all 1s ease;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
}

.contact-form button::before,
.contact-form button::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

.contact-form button::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

.contact-form button::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

.contact-form button:hover::before,
.contact-form button:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

.contact-form button:hover {
  background-color: var(--white);
  cursor: url("../img/cursor32.svg"), auto;
}

.sent-message {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 1.2rem;
  color: var(--rose-gold);
}

/*********
  SOCIAL
**********/
.social-media {
  position: fixed;
  top: 35%;
  right: 0;
}

.social-media a {
  color: var(--onyx);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 1rem;
  margin-right: 2.5rem;
  transition: all 0.4s ease;
}

.social-media a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.social-media a > img {
  width: 33px;
  height: 33px;
}

/*********
  FOOTER
**********/
footer {
  bottom: 0;
  margin-top: 25rem;
  background-color: #f5f5f5;
  box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.1);
}

footer p {
  font-size: 1.1rem;
  padding: 2rem;
  margin: 0 auto;
  /* color: var(--white); */
  color: var(--onyx);
}

/***********
  404 PAGE
************/
.page404 {
  align-items: center;
  justify-content: center;
  width: 40%;
}

.page404 h1 {
  font-size: 8rem;
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

.page404 h4 {
  font-size: 2rem;
  font-weight: bold;
}

.page404 a {
  display: inliine-block;
  color: var(--onyx);
  background-color: #ffffff80;
  font-size: 1.2rem;
  padding: 0.6rem 3rem;
  border-radius: 0.2rem;
  border: 1px solid var(--onyx);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  position: relative;
  transition: all 1s ease;
}

.page404 a:hover {
  text-decoration: none;
}

.page404 a::before,
.page404 a::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

.page404 a::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

.page404 a::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

.page404 a:hover::before,
.page404 a:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

.page404 a:hover {
  background-color: var(--white);
  cursor: url("../img/cursor32.svg"), auto;
}

.page404 p {
  /* font-family: "Benne", serif; */
  font-size: 1.1rem;
}

/*************
  MEDIA QUERY
**************/
@media only screen and (min-width: 768px) {
  .navbar-expand-lg .navbar-collapse {
    height: auto !important;
  }
}

@media only screen and (max-width: 576px) {
  .home-content {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .navbar-brand img {
    width: 85%;
  }

  .social-media > a {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand span {
    display: none;
  }

  .navbar-brand img {
    width: 90%;
  }

  .social-media > a {
    margin-right: 1.3rem;
  }

  .navbar-container {
    width: 100% !important;
    padding: 0 1rem 0 1rem !important;
  }

  .social-media > a > img {
    height: 2.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  section {
    width: 75%;
  }
}
