@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "8bitOperator";
  src: local("8bitOperator"),
    url("../fonts/8bitOperatorPlus8-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

:root {
  --light-blue: #d6e6f9;
  --rose-gold: #bd8c7d;
  --soft-gold: #d1bfa7;
  --gold: #d4af37;
  --silver: #8e8e90;
  --onyx: #49494b;
  --black: #000000;
  --white: #fff;
  --off-white: #fbfbfb;
}

/*********
  GLOBAL
**********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(0.55rem + 0.55vw);
  scroll-behavior: smooth;
  overscroll-behavior: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

/* transparent scrollbar */
::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

body {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  font-family: "8bitOperator", sans-serif;
  color: var(--onyx);
  overscroll-behavior: none;
  overflow: hidden;
  background: url("../img/background-img.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  z-index: 1;
}

a:hover,
button:hover,
button,
img:hover,
.navbar-light:hover,
.navbar-toggler-icon:hover,
[type="button"]:not(:disabled):hover {
  cursor: url("../img/cursor32.svg"), auto;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

section {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 100%;
  min-height: calc(100vh - 8.5rem - 3rem);
}

.boxshadow {
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
}

.outline {
  /* font-weight: bold; */
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  /* text-shadow: -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff,
    2px 2px 1px #fff; */
  /* text-shadow: #000 0px 0px 1px; */
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2rem;
}

/************
  PRELOADER
*************/
#preloader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#preloader h1 {
  position: absolute;
  font-size: 4rem;
  color: var(--onyx);
  transform: translateY(-70%);
}

/*********
  NAVBAR
**********/
.navbar-light .navbar-nav .nav-link {
  color: var(--onyx);
  letter-spacing: 0.2rem;
  text-decoration: none;
  transition: all 1s ease;
  padding: 1.1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--silver);
}

.navbar-light .navbar-nav .nav-link.active {
  /* color: var(--silver); */
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  transform: scale(1.1);
}

/*********
  HOME
**********/
#home {
  position: relative;
}

#home h2 {
  font-size: 3.5rem;
}

#home h1 {
  font-size: 3.5rem;
  color: var(--onyx);
}

#home h1 span {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem var(--silver);
  box-shadow: 13px 15px 15px 1px rgba(54, 36, 36, 0.28);
}

#home p {
  font-size: 2rem;
  letter-spacing: 1.4rem;
}

#home a {
  margin: 0 auto;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  background-color: #d1bfa780;
  text-transform: uppercase;
  color: var(--onyx);
  border: 1px solid var(--onyx);
  border-radius: 0.2rem;
  text-decoration: none;
  transition: all 1s ease;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  transition: all 1s ease;
  position: relative;
}

#home a::before,
#home a::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

#home a::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

#home a::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

#home a:hover::before,
#home a:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

#home a:hover {
  background-color: var(--white);
}

/********
  ABOUT
*********/
#about {
  height: 10rem;
  overflow: scroll;
  overflow-x: hidden;
}

.about-container {
  height: 100%;
}

.about-text {
  height: 27rem;
  width: 100%;
  max-height: 40rem;
  max-width: 40rem;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.about-text > h1 {
  color: var(--onyx);
}

.about-text > p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  margin: auto;
}

.about-img img {
  width: 100%;
  max-width: 29rem;
  height: auto;
  filter: grayscale(30%);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  background-color: #fff;
  padding: 0.4rem;
  padding-bottom: 5rem;
  border-radius: 5px;
  position: relative;
  transform: rotate(-5deg);
  transition: box-shadow 0.2s ease;
}

.about-img img:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.about-img::before {
  position: absolute;
  content: "";
  width: 28rem;
  max-width: 100%;
  height: 32rem;
  max-height: 100%;
  border: 4px solid transparent;
  border-image: linear-gradient(90deg, var(--rose-gold), var(--soft-gold));
  border-image-slice: 1;
  transform: rotate(11deg);
  border-radius: 5px;

  z-index: -100;
}

.about-img::after {
  position: absolute;
  content: "";
  width: 28rem;
  max-width: 100%;
  height: 32rem;
  max-height: 100%;
  border: 5px solid transparent;
  border-image: linear-gradient(90deg, var(--soft-gold), var(--rose-gold));
  border-image-slice: 1;
  transform: rotate(2deg);
  border-radius: 5px;

  z-index: -100;
}

#about a {
  display: inliine-block;
  text-decoration: none;
  color: var(--onyx);
  font-size: 1.2rem;
  padding: 1.1rem 3rem;
  background-color: #bd8c7d80;
  border-radius: 0.2rem;
  border: 1px solid var(--onyx);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  transition: all 1s ease;
  position: relative;
}

#about a::before,
#about a::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

#about a::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

#about a::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

#about a:hover::before,
#about a:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

#about a:hover {
  background-color: var(--white);
}

/***********
  PROJECTS
************/
#projects {
  height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.card {
  margin: 0.9rem 0.1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-1px);
}

.card-img-top {
  padding: 0.4rem;
}

.card-body {
  height: 4rem;
  padding: 1rem;
  margin: auto;
}

.card-body h6 {
  font-size: 0.9rem;
}

.card-title {
  text-shadow: 0.1px 0.1px 0.1px var(--onyx);
}

.card-list {
  list-style: none;
  max-width: 100%;
}

/********
  MODAL
*********/
.modal-button {
  border: none;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  outline: none;
}

.modal-button:hover {
  color: var(--rose-gold);
}

.modal-button:active {
  outline: none;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 96vh;
}

.project-details-description {
  width: 100%;
  padding: 0 2rem;
}

.project-details-description h4 {
  color: var(--rose-gold);
  font-weight: 500;
  font-size: 1.5rem;
}

.project-details-description p {
  font-family: "Open Sans", sans-serif;
}

.project-details-description p > a {
  color: var(--silver);
  font-size: 1rem;
  text-decoration: none;
  text-shadow: 0.2px 0.2px 0.5px var(--silver);
  transition: all 1s;
}

.project-details-description p > a:hover {
  color: var(--rose-gold);
  font-size: 1rem;
  text-shadow: 0.2px 0.2px 0.5px var(--silver);
}

.embed-responsive {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*********
  CONTACT
**********/
.contact h1 {
  color: var(--onyx);
}

.contact-form {
  display: block;
  justify-content: center;
  margin: 0 auto;
  max-width: 35rem;
  height: auto;
}

.contact-form button {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0.6rem 5rem;
  border-radius: 0.2rem;
  border: 1px solid var(--onyx);
  outline: none;
  color: var(--onyx);
  font-size: 1.2rem;
  background-color: #8e8e9080;
  transition: all 1s ease;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
}

.contact-form button::before,
.contact-form button::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

.contact-form button::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

.contact-form button::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

.contact-form button:hover::before,
.contact-form button:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

.contact-form button:hover {
  background-color: var(--white);
  cursor: url("../img/cursor32.svg"), auto;
}

.contact-container {
  position: relative;
}

.sent-message {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -12%);
  color: var(--rose-gold);
}

/*********
  SOCIAL
**********/
.social-media {
  position: absolute;
  top: 35%;
  right: 0px;
}

.social-media a {
  color: var(--onyx);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 1rem;
  margin-right: 2.5rem;
  transition: all 1s ease;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.social-media a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.social-media a:hover:nth-child(1) {
  color: var(--soft-gold);
}

.social-media a:hover:nth-child(2) {
  color: var(--rose-gold);
}

.social-media a:hover:nth-child(3) {
  color: var(--silver);
}

.social-media a:hover:nth-child(4) {
  color: var(--gold);
}

/*********
  FOOTER
**********/
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 5rem;
}

.footer-text {
  padding: 2rem;
  margin: 0 auto;
  color: var(--white);
}

/***********
  404 PAGE
************/
#not-found {
  align-items: center;
  justify-content: center;
  width: 40%;
}

#not-found h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 8rem;
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

#not-found h4 {
  font-size: 2rem;
  font-weight: bold;
}

#not-found a {
  display: inliine-block;
  color: var(--onyx);
  background-color: #ffffff80;
  font-size: 1.2rem;
  padding: 0.6rem 3rem;
  border-radius: 0.2rem;
  border: 1px solid var(--onyx);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.28);
  position: relative;
  transition: all 1s ease;
}

#not-found a:hover {
  text-decoration: none;
}

#not-found a::before,
#not-found a::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-color: var(--onyx);
  border-style: solid;
  transition: all 1s ease;
}

#not-found a::before {
  top: -0.6rem;
  left: -0.6rem;
  border-width: 1px 0 0 1px;
}

#not-found a::after {
  bottom: -0.6rem;
  right: -0.6rem;
  border-width: 0 1px 1px 0;
}

#not-found a:hover::before,
#not-found a:hover::after {
  width: calc(100% + 1.2rem);
  height: calc(100% + 1.2rem);
}

#not-found a:hover {
  background-color: var(--white);
  cursor: url("../img/cursor32.svg"), auto;
}

/*************
  MEDIA QUERY
**************/
@media only screen and (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    height: auto !important;
  }
}

@media only screen and (max-width: 350px) {
  .social-media a {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .home-content {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  .navbar-brand img {
    width: 80%;
  }

  .social-media a {
    margin-right: 0.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand span {
    display: none;
  }

  .navbar-brand img {
    width: 90%;
  }

  .social-media a {
    margin-right: 1.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .social-media a {
    margin-right: 1.7rem;
  }
}
